/* Estilos gerais */

/* Definição de estilos para o corpo do documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Container principal */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para os cards dos participantes */
.curriculo {
    width: 100%;
    height: 400px;
    border: none;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    perspective: 1000px;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}

.curriculo:hover,
.curriculo.flip {
    transform: rotateY(-180deg);
}

.curriculo .curriculo-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}

.curriculo .curriculo-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}

.curriculo .curriculo-front,
.curriculo .curriculo-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.curriculo .curriculo-front {
    background-color: #fcfcfc;
    transform: rotateY(0deg);
    z-index: 2;
}

.curriculo .curriculo-back {
    background-color: #f9f9f9;
    transform: rotateY(-180deg);
}

.curriculo .curriculo-image {
    margin-bottom: 20px;
}

.curriculo .curriculo-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.curriculo .curriculo-info {
    color: #333;
}

.curriculo .curriculo-info h2 {
    font-size: 20px;
    margin: 5px 0;
    color: #333;
}

.curriculo .curriculo-info p {
    font-size: 14px;
    margin: 0;
    color: #666;
}

/* Estilos para a mensagem de descrição no card */
.curriculo .curriculo-info-text {
    display: none;
}

/* Barra de navegação */
.navbar {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-title {
    margin: 0;
    font-size: 24px;
    text-align: center;
    position: relative;
    z-index: 10;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation: animateText 2s infinite alternate;
}

@keyframes animateText {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Nuvens flutuantes */
.cloud {
    width: 70px;
    height: 50px;
    position: absolute;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: rotate(90deg);
    z-index: 1;
}

.cloud::before,
.cloud::after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
}

.cloud::before {
    width: 40px;
    height: 40px;
    top: -20px;
    left: 5px;
}

.cloud::after {
    width: 60px;
    height: 60px;
    top: -30px;
    right: 5px;
}

.cloud-1 {
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
}

.cloud-2 {
    top: 50%;
    right: 10px;
    transform: translate(50%, -50%);
}

.cloud-3 {
    top: 50%;
    left: -80px;
    transform: translate(-50%, -50%);
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .curriculo {
        height: 500px;
    }

    .curriculo .curriculo-info-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 10px;
    }

    .curriculo .curriculo-info-text h2,
    .curriculo .curriculo-info-text p {
        margin: 10px 0;
    }

    .navbar-title {
        font-size: 20px;
    }

    .cloud {
        width: 50px;
        height: 40px;
    }

    .cloud::before {
        width: 30px;
        height: 30px;
        top: -15px;
        left: 5px;
    }

    .cloud::after {
        width: 40px;
        height: 40px;
        top: -20px;
        right: 5px;
    }
}

@media screen and (min-width: 769px) {
    .curriculos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }

    .navbar-title {
        font-size: 28px;
    }

    .cloud {
        width: 70px;
        height: 50px;
    }

    .cloud::before {
        width: 40px;
        height: 40px;
        top: -20px;
        left: 5px;
    }

    .cloud::after {
        width: 60px;
        height: 60px;
        top: -30px;
        right: 5px;
    }
}

/* Rodapé */
.footer {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer-text {
    font-size: 18px;
    margin: 0;
}
